* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #166534;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 48px;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul li a:hover {
    color: #D1FAE5;
    text-decoration: underline;
}