* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #166534;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 48px;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul li a:hover {
    color: #D1FAE5;
    text-decoration: underline;
}
/* ----- Q2 ------ */

.painel {
    background: linear-gradient(to right, #047857, #064E3B);
    color: white;
    padding: 80px 0;
    text-align: center;
}

.painel h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 24px;
}

.painel p {
    font-size: 1.25em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 32px auto;
}

.painel .links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.painel .links a {
    padding: 12px 32px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 9999px;
}

.painel .links a:first-child {
    background-color: white;
    color: #166534;
    border: 2px solid #166534;
}

.painel .links a:first-child:hover {
    background-color: #E5E7EB;
}

.painel .links a:last-child {
    border: 2px solid white;
    color: white;
}

.painel .links:last-child a:last-child:hover {
    background-color: white;
    color: #166534;
}

/* ----- Q3 ------ */
.nossos-cursos {
    background-color: #F3F4F6;
    padding: 64px 0;
}

.nossos-cursos h2 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #166534;
    margin-bottom: 48px;
}

.cursos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.curso-card {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.curso-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.1);
}

.curso-card h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: #0f7857;
    margin-bottom: 8px;
}

.curso-card p {
    color: #4B5563;
}

/* --- Q4 --- */

.nossos-numeros {
    background-color: white;
    padding: 64px 0;
}

.nossos-numeros h2 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #166534;
    margin-bottom: 48px;
}

.nossos-numeros .table-wrapper {
    overflow-x: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.nossos-numeros table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.nossos-numeros table thead {
    background-color: #166534;
    color: white;
}

.nossos-numeros table tr td, .nossos-numeros table thead th {
    padding: 12px 24px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
}
.nossos-numeros table thead th {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
}

.nossos-numeros table tbody tr:nth-child(even) {
    background-color: #F9FAFB;
}

.nossos-cursos table td:nth-child(2) {
    font-size: 1.125em;
    font-weight: 500;
    color: #047857
}

.nossos-cursos table td:nth-child(3) {
    color: #4B5563;
}

/* ---- Q5 ---- */

.contato {
    background-color: #f3f4f6;
    padding: 64px 0;
}

.contato h2 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #166534;
    margin-bottom: 48px;
}

.contato form {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 672px;
    margin: 0 auto;
}

.contato .form-group {
    margin-bottom: 24px;
}

.contato .form-group label {
    display: block;
    color: #374151;
    font-size: 0.875em;
    font-weight: bold;
    margin-bottom: 8px;
}

.contato .form-group input[type="text"], .form-group input[type="email"], .contato .form-group textarea  {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    outline: none;
}

.contato .form-group input[type="text"]:focus, .form-group input[type="email"]:focus, .contato .form-group textarea:focus  {
    border-color: #34d399;
    box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.5);
}

.contato .form-group textarea {
    resize: vertical;
} 

.contato button[type="submit"] {
    background-color: #166534;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
} 

.contato button[type="submit"]:hover {
    background-color: #065F46;
    background-color: 0.3s ease;
} 